  <nav class="navbar navbar-xl navbar-dark" style="margin-top: 10px;">
    <div class="container-fluid">
      <a class="navbar-brand" style="padding-left: 10px;" href="{% url 'home' %}">
        <img src="https://static.vecteezy.com/system/resources/previews/021/671/874/original/batman-logo-transparent-free-png.png" width="30" height="30" class="d-inline-block align-top" alt="">
        ClassFlow</a>
        <div style="display: flex; justify-content: end;">
          {% block login %}
          {% endblock %}
        </div>
    </div>

  </nav>