{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
  <div style="display: flex;flex-direction: column; align-items: center;">
    <div class="p-2" style="height: 80px;"></div>
    <div>
      <img style="width: auto; height: 50px;" src="https://static.vecteezy.com/system/resources/previews/021/671/874/original/batman-logo-transparent-free-png.png" alt="logo">
    </div>
    <div class="p-2">
      <h2 style="font-family:  Manrope;"> SignUp</h2>
    </div>
    <div class="card" style="width: 27rem; height: 30rem; display: flex; justify-content: center;">
      <div class="p-5" style=" display: flex; align-items: center; justify-content: center; height: 25rem;">
        <form method="post">
          {% csrf_token %}  
          {{ form.first_name.label_tag }}
          <div class="p-2">
            {{ form.first_name }}
          </div>
          {{ form.last_name.label_tag}}
          <div class="p-2">
            {{ form.last_name }}
          </div>
        {{ form.username.label_tag}}
            <div class="p-2">
              {{ form.username }}
            </div>
          {{ form.password1.label_tag }}
            <div class="p-2">
              {{ form.password1 }}
            </div>
          {{ form.password2.label_tag }}
            <div class="p-2">
              {{ form.password2 }}
            </div>
        <div style="display: flex; justify-content: center;">
          <button class="btn btn-primary" type="submit">Sign Up</button>
          <a class="p-2" href="{% url 'login' %}">Log In</a>
        </div>
      </form>
        </div>
      </div>
      <div style="color: red ;">
        {{ form.username.errors }}
        {{ form.password1.errors}}
        {{ form.password2.errors}}
      </div>
      <div></div>
    </div>
    <div style="height: 50rem;"></div>
</div>
{% endblock %}